<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
</head>
<body>
    <h2>Products</h2>
    <ul>
        <% products.forEach(function(product) { %>
            <li>
                <strong>Product Name:</strong> <%= product.productName %><br>
                <strong>Customer Name:</strong> <%= product.customerName %><br>
                <strong>Person Entering Data:</strong> <%= product.personName %><br>
                <strong>Specifications:</strong>
                Ply: <%= product.specifications.ply %>,
                Flute type: <%= product.specifications.fluteType %>,
                Length: <%= product.specifications.length %>,
                Width: <%= product.specifications.width %>,
                Height: <%= product.specifications.height %>,
                Bursting Strength: <%= product.specifications.burstingStrength %>,
                BCT: <%= product.specifications.BCT %>,
                ECT: <%= product.specifications.ECT %>,
                FCT: <%= product.specifications.FCT %>,
                Moisture: <%= product.specifications.moisture %>,
                Weight: <%= product.specifications.weight %><br>
                <strong>Printing:</strong>
                No of Colors: <%= product.printing.noOfColors %>,
                Type: <%= product.printing.type %>,
                Colors: <%= product.printing.colors %><br>
                <strong>Sample Type:</strong> <%= product.sampleType %><br>
                <strong>No of Samples:</strong> <%= product.noOfSamples %><br>
                <strong>Required Date:</strong> <%= product.requiredDate %><br>
                <strong>Delivery Address:</strong> <%= product.deliveryAddress %><br>
                <strong>Customer Contact:</strong> <%= product.customerContact %><br>
                <strong>Contact No:</strong> <%= product.contactNo %><br>
                <strong>Created By:</strong> <%= product.createdBy %><br>
                <strong>Delivered Date:</strong> <%= product.deliveredDate %><br>
                <strong>Approved Date:</strong> <%= product.approvedDate %><br>
                <strong>Approval Status:</strong> <%= product.approvalStatus %><br>
                <strong>Rejection Reason:</strong> <%= product.rejectionReason %><br>
                <a href="/update-product/<%= product._id %>">Update Delivery/Approval</a>
            </li>
        <% }); %>
    </ul>
    <a href="/add-product">Add Product</a> |
    <a href="/">Home</a>
</body>
</html>
